@use 'variables';
@use 'mixins';

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    padding: 0;
    @include mixins.center-boxes;
    .container{
        background-color: #9becd8;
        padding: 20px;
        // @media (max-width:768px) {
        //     width:70%;
        // }
        .boxes{
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            gap: 10px;
            // margin-left: 12px;
            .box{
                // background-color: #3bd3ad;
                // background-color: whitesmoke;
                width: 70%;
                height: 40px;
                margin-bottom: 10px;
                border-radius: 10px;
                @include mixins.center-boxes;
                font-size: 25px;
                box-shadow: 1px 1px 5px;
                &:hover{
                    cursor: pointer;
                    // background-color: aquamarine;
                }
            }
        }
        .lancer-record-ecoule{

            .btn,.record,.time-elapsed{
                background-color: #620f87;
                color: white;
                padding: 5px;
                // width: 120px;
            }
            .record,.time-elapsed{
                background-color: #25e6b5;
                border-radius: 10px;
                color: rgb(46, 28, 5);
                font-size: 1.2rem;

            }
        }
    }
}